### Initial filling of the empty database tables with scraped data

In [1]:
import numpy as np
import pandas as pd

import os
import sys

root_path = os.path.abspath(os.path.join('..')) # <- adjust such that root_path always points at the root project dir (i.e. if current file is two folders deep, use '../..'). 
if root_path not in sys.path:
    sys.path.append(root_path)

import database_server.db_utilities as dbu 
import database_server.db_inserts as inserts

### Table COUNTRIES

In [4]:
# check table
df = dbu.select_query("SELECT * FROM countries;")
df

  code     name
0  GER  Germany
1  FRA   France
2  ITA    Italy
3  ESP    Spain
4  ENG  England

In [3]:
inserts.insert_countries()

INSERT 0 1
rows processed: 1/5
INSERT 0 1
rows processed: 2/5
INSERT 0 1
rows processed: 3/5
INSERT 0 1
rows processed: 4/5
INSERT 0 1
rows processed: 5/5
------------------------------------------------------------
Inserted 5 new rows into countries table. 0 inserts rejected.

(5, 0)

### Table LEAGUES

In [7]:
# check table 
result_df = dbu.select_query("Select * from leagues;")
result_df

   id fbref_id            name country
0   1        9  Premier League     ENG
1   2       12         La Liga     ESP
2   3       13         Ligue 1     FRA
3   4       20      Bundesliga     GER
4   5       11         Serie A     ITA

In [6]:
inserts.insert_leagues()

INSERT 0 1
rows processed: 1/5
INSERT 0 1
rows processed: 2/5
INSERT 0 1
rows processed: 3/5
INSERT 0 1
rows processed: 4/5
INSERT 0 1
rows processed: 5/5
------------------------------------------------------------
Inserted 5 new rows into leagues table. 0 inserts rejected.

(5, 0)

### Tables TEAMS, MATCHES & MATCHSTATS

In [8]:
# check tables
result_df = dbu.select_query("Select * from teams;")
print(result_df.shape)
result_df.head()

(0, 4)

Empty DataFrame
Columns: [id, fbref_id, name, country]
Index: []

In [9]:
# check tables
result_df = dbu.select_query("Select * from matches;")
print(result_df.shape)
result_df.head()

(0, 9)

Empty DataFrame
Columns: [id, fbref_id, league_id, home_team_id, away_team_id, schedule_date, schedule_time, schedule_round, schedule_day]
Index: []

In [10]:
# check tables
result_df = dbu.select_query("Select * from matchstats;")
print(result_df.shape)
result_df.head()

(0, 153)

Empty DataFrame
Columns: [venue, result, gf, ga, xg, xga, attendance, captain, formation, referee, season_str, league_id, team_id, opponent_id, match_id, shooting_standard_gls, shooting_standard_sh, shooting_standard_sot, shooting_standard_sot_perc, shooting_standard_g_per_sh, shooting_standard_g_per_sot, shooting_standard_dist, shooting_standard_fk, shooting_standard_pk, shooting_standard_pkatt, shooting_expected_npxg, shooting_expected_npxg_per_sh, shooting_expected_g_minus_xg, shooting_expected_npg_minus_xg, keeper_performance_sota, keeper_performance_saves, keeper_performance_save_perc, keeper_performance_cs, keeper_performance_psxg, keeper_performance_psxg_plus_minus, keeper_penaltykicks_pkatt, keeper_penaltykicks_pka, keeper_penaltykicks_pksv, keeper_penaltykicks_pkm, keeper_launched_cmp, keeper_launched_att, keeper_launched_cmp_perc, keeper_passes_att, keeper_passes_thr, keeper_passes_launch_perc, keeper_passes_avglen, keeper_goalkicks_att, keeper_goalkicks_launch_perc, keeper_goalkicks_avglen, keeper_crosses_opp, keeper_crosses_stp, keeper_crosses_stp_perc, keeper_sweeper_number_opa, keeper_sweeper_avgdist, passing_total_cmp, passing_total_att, passing_total_cmp_perc, passing_total_totdist, passing_total_prgdist, passing_short_cmp, passing_short_att, passing_short_cmp_perc, passing_medium_cmp, passing_medium_att, passing_medium_cmp_perc, passing_long_cmp, passing_long_att, passing_long_cmp_perc, passing_attacking_ast, passing_attacking_xag, passing_attacking_xa, passing_attacking_kp, passing_attacking_1_per_3, passing_attacking_ppa, passing_attacking_crspa, passing_attacking_prgp, passing_types_passtypes_live, passing_types_passtypes_dead, passing_types_passtypes_fk, passing_types_passtypes_tb, passing_types_passtypes_sw, passing_types_passtypes_crs, passing_types_passtypes_ti, passing_types_passtypes_ck, passing_types_cornerkicks_in, passing_types_cornerkicks_out, passing_types_cornerkicks_str, passing_types_outcomes_off, passing_types_outcomes_blocks, gca_scatypes_sca, gca_scatypes_passlive, gca_scatypes_passdead, gca_scatypes_to, gca_scatypes_sh, gca_scatypes_fld, gca_scatypes_def, gca_gcatypes_gca, gca_gcatypes_passlive, gca_gcatypes_passdead, gca_gcatypes_to, ...]
Index: []

[0 rows x 153 columns]

In [11]:
inserts.insert_match_data(include_archive=True, include_new=False)

INSERT 0 10
rows processed: 10/143
INSERT 0 10
rows processed: 20/143
INSERT 0 10
rows processed: 30/143
INSERT 0 10
rows processed: 40/143
INSERT 0 10
rows processed: 50/143
INSERT 0 10
rows processed: 60/143
INSERT 0 10
rows processed: 70/143
INSERT 0 10
rows processed: 80/143
INSERT 0 10
rows processed: 90/143
INSERT 0 10
rows processed: 100/143
INSERT 0 10
rows processed: 110/143
INSERT 0 10
rows processed: 120/143
INSERT 0 10
rows processed: 130/143
INSERT 0 10
rows processed: 140/143
INSERT 0 3
rows processed: 143/143
------------------------------------------------------------
Inserted 143 new rows into teams table. 0 inserts rejected.
INSERT 0 50
rows processed: 50/10760
INSERT 0 50
rows processed: 100/10760
INSERT 0 50
rows processed: 150/10760
INSERT 0 50
rows processed: 200/10760
INSERT 0 50
rows processed: 250/10760
INSERT 0 50
rows processed: 300/10760
INSERT 0 50
rows processed: 350/10760
INSERT 0 50
rows processed: 400/10760
INSERT 0 50
rows processed: 450/10760
INSERT 0 50
rows processed: 500/10760
INSERT 0 50
rows processed: 550/10760
INSERT 0 50
rows processed: 600/10760
INSERT 0 50
rows processed: 650/10760
INSERT 0 50
rows processed: 700/10760
INSERT 0 50
rows processed: 750/10760
INSERT 0 50
rows processed: 800/10760
INSERT 0 50
rows processed: 850/10760
INSERT 0 50
rows processed: 900/10760
INSERT 0 50
rows processed: 950/10760
INSERT 0 50
rows processed: 1000/10760
INSERT 0 50
rows processed: 1050/10760
INSERT 0 50
rows processed: 1100/10760
INSERT 0 50
rows processed: 1150/10760
INSERT 0 50
rows processed: 1200/10760
INSERT 0 50
rows processed: 1250/10760
INSERT 0 50
rows processed: 1300/10760
INSERT 0 50
rows processed: 1350/10760
INSERT 0 50
rows processed: 1400/10760
INSERT 0 50
rows processed: 1450/10760
INSERT 0 50
rows processed: 1500/10760
INSERT 0 50
rows processed: 1550/10760
INSERT 0 50
rows processed: 1600/10760
INSERT 0 50
rows processed: 1650/10760
INSERT 0 50
rows processed: 1700/10760
INSERT 0 50
rows processed: 1750/10760
INSERT 0 50
rows processed: 1800/10760
INSERT 0 50
rows processed: 1850/10760
INSERT 0 50
rows processed: 1900/10760
INSERT 0 50
rows processed: 1950/10760
INSERT 0 50
rows processed: 2000/10760
INSERT 0 50
rows processed: 2050/10760
INSERT 0 50
rows processed: 2100/10760
INSERT 0 50
rows processed: 2150/10760
INSERT 0 50
rows processed: 2200/10760
INSERT 0 50
rows processed: 2250/10760
INSERT 0 50
rows processed: 2300/10760
INSERT 0 50
rows processed: 2350/10760
INSERT 0 50
rows processed: 2400/10760
INSERT 0 50
rows processed: 2450/10760
INSERT 0 50
rows processed: 2500/10760
INSERT 0 50
rows processed: 2550/10760
INSERT 0 50
rows processed: 2600/10760
INSERT 0 50
rows processed: 2650/10760
INSERT 0 50
rows processed: 2700/10760
INSERT 0 50
rows processed: 2750/10760
INSERT 0 50
rows processed: 2800/10760
INSERT 0 50
rows processed: 2850/10760
INSERT 0 50
rows processed: 2900/10760
INSERT 0 50
rows processed: 2950/10760
INSERT 0 50
rows processed: 3000/10760
INSERT 0 50
rows processed: 3050/10760
INSERT 0 50
rows processed: 3100/10760
INSERT 0 50
rows processed: 3150/10760
INSERT 0 50
rows processed: 3200/10760
INSERT 0 50
rows processed: 3250/10760
INSERT 0 50
rows processed: 3300/10760
INSERT 0 50
rows processed: 3350/10760
INSERT 0 50
rows processed: 3400/10760
INSERT 0 50
rows processed: 3450/10760
INSERT 0 50
rows processed: 3500/10760
INSERT 0 50
rows processed: 3550/10760
INSERT 0 50
rows processed: 3600/10760
INSERT 0 50
rows processed: 3650/10760
INSERT 0 50
rows processed: 3700/10760
INSERT 0 50
rows processed: 3750/10760
INSERT 0 50
rows processed: 3800/10760
INSERT 0 50
rows processed: 3850/10760
INSERT 0 50
rows processed: 3900/10760
INSERT 0 50
rows processed: 3950/10760
INSERT 0 50
rows processed: 4000/10760
INSERT 0 50
rows processed: 4050/10760
INSERT 0 50
rows processed: 4100/10760
INSERT 0 50
rows processed: 4150/10760
INSERT 0 50
rows processed: 4200/10760
INSERT 0 50
rows processed: 4250/10760
INSERT 0 50
rows processed: 4300/10760
INSERT 0 50
rows processed: 4350/10760
INSERT 0 50
rows processed: 4400/10760
INSERT 0 50
rows processed: 4450/10760
INSERT 0 50
rows processed: 4500/10760
INSERT 0 50
rows processed: 4550/10760
INSERT 0 50
rows processed: 4600/10760
INSERT 0 50
rows processed: 4650/10760
INSERT 0 50
rows processed: 4700/10760
INSERT 0 50
rows processed: 4750/10760
INSERT 0 50
rows processed: 4800/10760
INSERT 0 50
rows processed: 4850/10760
INSERT 0 50
rows processed: 4900/10760
INSERT 0 50
rows processed: 4950/10760
INSERT 0 50
rows processed: 5000/10760
INSERT 0 50
rows processed: 5050/10760
INSERT 0 50
rows processed: 5100/10760
INSERT 0 50
rows processed: 5150/10760
INSERT 0 50
rows processed: 5200/10760
INSERT 0 50
rows processed: 5250/10760
INSERT 0 50
rows processed: 5300/10760
INSERT 0 50
rows processed: 5350/10760
INSERT 0 50
rows processed: 5400/10760
INSERT 0 50
rows processed: 5450/10760
INSERT 0 50
rows processed: 5500/10760
INSERT 0 50
rows processed: 5550/10760
INSERT 0 50
rows processed: 5600/10760
INSERT 0 50
rows processed: 5650/10760
INSERT 0 50
rows processed: 5700/10760
INSERT 0 50
rows processed: 5750/10760
INSERT 0 50
rows processed: 5800/10760
INSERT 0 50
rows processed: 5850/10760
INSERT 0 50
rows processed: 5900/10760
INSERT 0 50
rows processed: 5950/10760
INSERT 0 50
rows processed: 6000/10760
INSERT 0 50
rows processed: 6050/10760
INSERT 0 50
rows processed: 6100/10760
INSERT 0 50
rows processed: 6150/10760
INSERT 0 50
rows processed: 6200/10760
INSERT 0 50
rows processed: 6250/10760
INSERT 0 50
rows processed: 6300/10760
INSERT 0 50
rows processed: 6350/10760
INSERT 0 50
rows processed: 6400/10760
INSERT 0 50
rows processed: 6450/10760
INSERT 0 50
rows processed: 6500/10760
INSERT 0 50
rows processed: 6550/10760
INSERT 0 50
rows processed: 6600/10760
INSERT 0 50
rows processed: 6650/10760
INSERT 0 50
rows processed: 6700/10760
INSERT 0 50
rows processed: 6750/10760
INSERT 0 50
rows processed: 6800/10760
INSERT 0 50
rows processed: 6850/10760
INSERT 0 50
rows processed: 6900/10760
INSERT 0 50
rows processed: 6950/10760
INSERT 0 50
rows processed: 7000/10760
INSERT 0 50
rows processed: 7050/10760
INSERT 0 50
rows processed: 7100/10760
INSERT 0 50
rows processed: 7150/10760
INSERT 0 50
rows processed: 7200/10760
INSERT 0 50
rows processed: 7250/10760
INSERT 0 50
rows processed: 7300/10760
INSERT 0 50
rows processed: 7350/10760
INSERT 0 50
rows processed: 7400/10760
INSERT 0 50
rows processed: 7450/10760
INSERT 0 50
rows processed: 7500/10760
INSERT 0 50
rows processed: 7550/10760
INSERT 0 50
rows processed: 7600/10760
INSERT 0 50
rows processed: 7650/10760
INSERT 0 50
rows processed: 7700/10760
INSERT 0 50
rows processed: 7750/10760
INSERT 0 50
rows processed: 7800/10760
INSERT 0 50
rows processed: 7850/10760
INSERT 0 50
rows processed: 7900/10760
INSERT 0 50
rows processed: 7950/10760
INSERT 0 50
rows processed: 8000/10760
INSERT 0 50
rows processed: 8050/10760
INSERT 0 50
rows processed: 8100/10760
INSERT 0 50
rows processed: 8150/10760
INSERT 0 50
rows processed: 8200/10760
INSERT 0 50
rows processed: 8250/10760
INSERT 0 50
rows processed: 8300/10760
INSERT 0 50
rows processed: 8350/10760
INSERT 0 50
rows processed: 8400/10760
INSERT 0 50
rows processed: 8450/10760
INSERT 0 50
rows processed: 8500/10760
INSERT 0 50
rows processed: 8550/10760
INSERT 0 50
rows processed: 8600/10760
INSERT 0 50
rows processed: 8650/10760
INSERT 0 50
rows processed: 8700/10760
INSERT 0 50
rows processed: 8750/10760
INSERT 0 50
rows processed: 8800/10760
INSERT 0 50
rows processed: 8850/10760
INSERT 0 50
rows processed: 8900/10760
INSERT 0 50
rows processed: 8950/10760
INSERT 0 50
rows processed: 9000/10760
INSERT 0 50
rows processed: 9050/10760
INSERT 0 50
rows processed: 9100/10760
INSERT 0 50
rows processed: 9150/10760
INSERT 0 50
rows processed: 9200/10760
INSERT 0 50
rows processed: 9250/10760
INSERT 0 50
rows processed: 9300/10760
INSERT 0 50
rows processed: 9350/10760
INSERT 0 50
rows processed: 9400/10760
INSERT 0 50
rows processed: 9450/10760
INSERT 0 50
rows processed: 9500/10760
INSERT 0 50
rows processed: 9550/10760
INSERT 0 50
rows processed: 9600/10760
INSERT 0 50
rows processed: 9650/10760
INSERT 0 50
rows processed: 9700/10760
INSERT 0 50
rows processed: 9750/10760
INSERT 0 50
rows processed: 9800/10760
INSERT 0 50
rows processed: 9850/10760
INSERT 0 50
rows processed: 9900/10760
INSERT 0 50
rows processed: 9950/10760
INSERT 0 50
rows processed: 10000/10760
INSERT 0 50
rows processed: 10050/10760
INSERT 0 50
rows processed: 10100/10760
INSERT 0 50
rows processed: 10150/10760
INSERT 0 50
rows processed: 10200/10760
INSERT 0 50
rows processed: 10250/10760
INSERT 0 50
rows processed: 10300/10760
INSERT 0 50
rows processed: 10350/10760
INSERT 0 50
rows processed: 10400/10760
INSERT 0 50
rows processed: 10450/10760
INSERT 0 50
rows processed: 10500/10760
INSERT 0 50
rows processed: 10550/10760
INSERT 0 50
rows processed: 10600/10760
INSERT 0 50
rows processed: 10650/10760
INSERT 0 50
rows processed: 10700/10760
INSERT 0 50
rows processed: 10750/10760
INSERT 0 10
rows processed: 10760/10760
------------------------------------------------------------
Inserted 10760 new rows into matches table. 0 inserts rejected.
************************************************************
matchstats cleaning: Dropped 18 rows due to missing values in columns Index(['team_id', 'opponent_id', 'match_id'], dtype='object').
matchstats cleaning: Dropped 598 rows due to missing values in more than 80.0% of columns.
************************************************************
INSERT 0 100
rows processed: 100/21314
INSERT 0 100
rows processed: 200/21314
INSERT 0 100
rows processed: 300/21314
INSERT 0 100
rows processed: 400/21314
INSERT 0 100
rows processed: 500/21314
INSERT 0 100
rows processed: 600/21314
INSERT 0 100
rows processed: 700/21314
INSERT 0 100
rows processed: 800/21314
INSERT 0 100
rows processed: 900/21314
INSERT 0 100
rows processed: 1000/21314
INSERT 0 100
rows processed: 1100/21314
INSERT 0 100
rows processed: 1200/21314
INSERT 0 100
rows processed: 1300/21314
INSERT 0 100
rows processed: 1400/21314
INSERT 0 100
rows processed: 1500/21314
INSERT 0 100
rows processed: 1600/21314
INSERT 0 100
rows processed: 1700/21314
INSERT 0 100
rows processed: 1800/21314
INSERT 0 100
rows processed: 1900/21314
INSERT 0 100
rows processed: 2000/21314
INSERT 0 100
rows processed: 2100/21314
INSERT 0 100
rows processed: 2200/21314
INSERT 0 100
rows processed: 2300/21314
INSERT 0 100
rows processed: 2400/21314
INSERT 0 100
rows processed: 2500/21314
INSERT 0 100
rows processed: 2600/21314
INSERT 0 100
rows processed: 2700/21314
INSERT 0 100
rows processed: 2800/21314
INSERT 0 100
rows processed: 2900/21314
INSERT 0 100
rows processed: 3000/21314
INSERT 0 100
rows processed: 3100/21314
INSERT 0 100
rows processed: 3200/21314
INSERT 0 100
rows processed: 3300/21314
INSERT 0 100
rows processed: 3400/21314
INSERT 0 100
rows processed: 3500/21314
INSERT 0 100
rows processed: 3600/21314
INSERT 0 100
rows processed: 3700/21314
INSERT 0 100
rows processed: 3800/21314
INSERT 0 100
rows processed: 3900/21314
INSERT 0 100
rows processed: 4000/21314
INSERT 0 100
rows processed: 4100/21314
INSERT 0 100
rows processed: 4200/21314
INSERT 0 100
rows processed: 4300/21314
INSERT 0 100
rows processed: 4400/21314
INSERT 0 100
rows processed: 4500/21314
INSERT 0 100
rows processed: 4600/21314
INSERT 0 100
rows processed: 4700/21314
INSERT 0 100
rows processed: 4800/21314
INSERT 0 100
rows processed: 4900/21314
INSERT 0 100
rows processed: 5000/21314
INSERT 0 100
rows processed: 5100/21314
INSERT 0 100
rows processed: 5200/21314
INSERT 0 100
rows processed: 5300/21314
INSERT 0 100
rows processed: 5400/21314
INSERT 0 100
rows processed: 5500/21314
INSERT 0 100
rows processed: 5600/21314
INSERT 0 100
rows processed: 5700/21314
INSERT 0 100
rows processed: 5800/21314
INSERT 0 100
rows processed: 5900/21314
INSERT 0 100
rows processed: 6000/21314
INSERT 0 100
rows processed: 6100/21314
INSERT 0 100
rows processed: 6200/21314
INSERT 0 100
rows processed: 6300/21314
INSERT 0 100
rows processed: 6400/21314
INSERT 0 100
rows processed: 6500/21314
INSERT 0 100
rows processed: 6600/21314
INSERT 0 100
rows processed: 6700/21314
INSERT 0 100
rows processed: 6800/21314
INSERT 0 100
rows processed: 6900/21314
INSERT 0 100
rows processed: 7000/21314
INSERT 0 100
rows processed: 7100/21314
INSERT 0 100
rows processed: 7200/21314
INSERT 0 100
rows processed: 7300/21314
INSERT 0 100
rows processed: 7400/21314
INSERT 0 100
rows processed: 7500/21314
INSERT 0 100
rows processed: 7600/21314
INSERT 0 100
rows processed: 7700/21314
INSERT 0 100
rows processed: 7800/21314
INSERT 0 100
rows processed: 7900/21314
INSERT 0 100
rows processed: 8000/21314
INSERT 0 100
rows processed: 8100/21314
INSERT 0 100
rows processed: 8200/21314
INSERT 0 100
rows processed: 8300/21314
INSERT 0 100
rows processed: 8400/21314
INSERT 0 100
rows processed: 8500/21314
INSERT 0 100
rows processed: 8600/21314
INSERT 0 100
rows processed: 8700/21314
INSERT 0 100
rows processed: 8800/21314
INSERT 0 100
rows processed: 8900/21314
INSERT 0 100
rows processed: 9000/21314
INSERT 0 100
rows processed: 9100/21314
INSERT 0 100
rows processed: 9200/21314
INSERT 0 100
rows processed: 9300/21314
INSERT 0 100
rows processed: 9400/21314
INSERT 0 100
rows processed: 9500/21314
INSERT 0 100
rows processed: 9600/21314
INSERT 0 100
rows processed: 9700/21314
INSERT 0 100
rows processed: 9800/21314
INSERT 0 100
rows processed: 9900/21314
INSERT 0 100
rows processed: 10000/21314
INSERT 0 100
rows processed: 10100/21314
INSERT 0 100
rows processed: 10200/21314
INSERT 0 100
rows processed: 10300/21314
INSERT 0 100
rows processed: 10400/21314
INSERT 0 100
rows processed: 10500/21314
INSERT 0 100
rows processed: 10600/21314
INSERT 0 100
rows processed: 10700/21314
INSERT 0 100
rows processed: 10800/21314
INSERT 0 100
rows processed: 10900/21314
INSERT 0 100
rows processed: 11000/21314
INSERT 0 100
rows processed: 11100/21314
INSERT 0 100
rows processed: 11200/21314
INSERT 0 100
rows processed: 11300/21314
INSERT 0 100
rows processed: 11400/21314
INSERT 0 100
rows processed: 11500/21314
INSERT 0 100
rows processed: 11600/21314
INSERT 0 100
rows processed: 11700/21314
INSERT 0 100
rows processed: 11800/21314
INSERT 0 100
rows processed: 11900/21314
INSERT 0 100
rows processed: 12000/21314
INSERT 0 100
rows processed: 12100/21314
INSERT 0 100
rows processed: 12200/21314
INSERT 0 100
rows processed: 12300/21314
INSERT 0 100
rows processed: 12400/21314
INSERT 0 100
rows processed: 12500/21314
INSERT 0 100
rows processed: 12600/21314
INSERT 0 100
rows processed: 12700/21314
INSERT 0 100
rows processed: 12800/21314
INSERT 0 100
rows processed: 12900/21314
INSERT 0 100
rows processed: 13000/21314
INSERT 0 100
rows processed: 13100/21314
INSERT 0 100
rows processed: 13200/21314
INSERT 0 100
rows processed: 13300/21314
INSERT 0 100
rows processed: 13400/21314
INSERT 0 100
rows processed: 13500/21314
INSERT 0 100
rows processed: 13600/21314
INSERT 0 100
rows processed: 13700/21314
INSERT 0 100
rows processed: 13800/21314
INSERT 0 100
rows processed: 13900/21314
INSERT 0 100
rows processed: 14000/21314
INSERT 0 100
rows processed: 14100/21314
INSERT 0 100
rows processed: 14200/21314
INSERT 0 100
rows processed: 14300/21314
INSERT 0 100
rows processed: 14400/21314
INSERT 0 100
rows processed: 14500/21314
INSERT 0 100
rows processed: 14600/21314
INSERT 0 100
rows processed: 14700/21314
INSERT 0 100
rows processed: 14800/21314
INSERT 0 100
rows processed: 14900/21314
INSERT 0 100
rows processed: 15000/21314
INSERT 0 100
rows processed: 15100/21314
INSERT 0 100
rows processed: 15200/21314
INSERT 0 100
rows processed: 15300/21314
INSERT 0 100
rows processed: 15400/21314
INSERT 0 100
rows processed: 15500/21314
INSERT 0 100
rows processed: 15600/21314
INSERT 0 100
rows processed: 15700/21314
INSERT 0 100
rows processed: 15800/21314
INSERT 0 100
rows processed: 15900/21314
INSERT 0 100
rows processed: 16000/21314
INSERT 0 100
rows processed: 16100/21314
INSERT 0 100
rows processed: 16200/21314
INSERT 0 100
rows processed: 16300/21314
INSERT 0 100
rows processed: 16400/21314
INSERT 0 100
rows processed: 16500/21314
INSERT 0 100
rows processed: 16600/21314
INSERT 0 100
rows processed: 16700/21314
INSERT 0 100
rows processed: 16800/21314
INSERT 0 100
rows processed: 16900/21314
INSERT 0 100
rows processed: 17000/21314
INSERT 0 100
rows processed: 17100/21314
INSERT 0 100
rows processed: 17200/21314
INSERT 0 100
rows processed: 17300/21314
INSERT 0 100
rows processed: 17400/21314
INSERT 0 100
rows processed: 17500/21314
INSERT 0 100
rows processed: 17600/21314
INSERT 0 100
rows processed: 17700/21314
INSERT 0 100
rows processed: 17800/21314
INSERT 0 100
rows processed: 17900/21314
INSERT 0 100
rows processed: 18000/21314
INSERT 0 100
rows processed: 18100/21314
INSERT 0 100
rows processed: 18200/21314
INSERT 0 100
rows processed: 18300/21314
INSERT 0 100
rows processed: 18400/21314
INSERT 0 100
rows processed: 18500/21314
INSERT 0 100
rows processed: 18600/21314
INSERT 0 100
rows processed: 18700/21314
INSERT 0 100
rows processed: 18800/21314
INSERT 0 100
rows processed: 18900/21314
INSERT 0 100
rows processed: 19000/21314
INSERT 0 100
rows processed: 19100/21314
INSERT 0 100
rows processed: 19200/21314
INSERT 0 100
rows processed: 19300/21314
INSERT 0 100
rows processed: 19400/21314
INSERT 0 100
rows processed: 19500/21314
INSERT 0 100
rows processed: 19600/21314
INSERT 0 100
rows processed: 19700/21314
INSERT 0 100
rows processed: 19800/21314
INSERT 0 100
rows processed: 19900/21314
INSERT 0 100
rows processed: 20000/21314
INSERT 0 100
rows processed: 20100/21314
INSERT 0 100
rows processed: 20200/21314
INSERT 0 100
rows processed: 20300/21314
INSERT 0 100
rows processed: 20400/21314
INSERT 0 100
rows processed: 20500/21314
INSERT 0 100
rows processed: 20600/21314
INSERT 0 100
rows processed: 20700/21314
INSERT 0 100
rows processed: 20800/21314
INSERT 0 100
rows processed: 20900/21314
INSERT 0 100
rows processed: 21000/21314
INSERT 0 100
rows processed: 21100/21314
INSERT 0 100
rows processed: 21200/21314
INSERT 0 100
rows processed: 21300/21314
INSERT 0 14
rows processed: 21314/21314
------------------------------------------------------------
Inserted 21314 new rows into matchstats table. 0 inserts rejected.
------------------------------------------------------------
teams: 143 inserted, 0 rejected.
matches: 10760 inserted, 0 rejected.
matchstats: 21314 inserted, 0 rejected.

### Table TEAMWAGES

In [12]:
# check table
teamwages_df = dbu.select_query("SELECT * FROM teamwages;")
teamwages_df.head()

Empty DataFrame
Columns: [team_id, season_str, n_players, pct_estimated, weekly_wages_eur, weekly_wages_gbp, weekly_wages_usd, annual_wages_eur, annual_wages_gbp, annual_wages_usd]
Index: []

In [13]:
inserts.insert_teamwages()

INSERT 0 25
rows processed: 25/584
INSERT 0 25
rows processed: 50/584
INSERT 0 25
rows processed: 75/584
INSERT 0 25
rows processed: 100/584
INSERT 0 25
rows processed: 125/584
INSERT 0 25
rows processed: 150/584
INSERT 0 25
rows processed: 175/584
INSERT 0 25
rows processed: 200/584
INSERT 0 25
rows processed: 225/584
INSERT 0 25
rows processed: 250/584
INSERT 0 25
rows processed: 275/584
INSERT 0 25
rows processed: 300/584
INSERT 0 25
rows processed: 325/584
INSERT 0 25
rows processed: 350/584
INSERT 0 25
rows processed: 375/584
INSERT 0 25
rows processed: 400/584
INSERT 0 25
rows processed: 425/584
INSERT 0 25
rows processed: 450/584
INSERT 0 25
rows processed: 475/584
INSERT 0 25
rows processed: 500/584
INSERT 0 25
rows processed: 525/584
INSERT 0 25
rows processed: 550/584
INSERT 0 25
rows processed: 575/584
INSERT 0 9
rows processed: 584/584
------------------------------------------------------------
Inserted 584 new rows into teamwages table. 0 inserts rejected.

(584, 0)